google-genai>=0.1.2
requests>=2.31.0
pydub>=0.25.1
mutagen>=1.47.0
Pillow>=10.0.0
python-dotenv>=1.0.0
git+https://github.com/jebin2/browser_manager.git
git+https://github.com/jebin2/custom_logger.git
git+https://github.com/jebin2/lib.git
# -e /home/jebin/git/lib
